<ion-app>
  <ion-router-outlet></ion-router-outlet>
  
  <ion-header>
    <ion-toolbar>
      <ion-title>Application Settings</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-content class="ion-padding">
    <ion-list class="ion-margin-bottom">
      <ion-item>
        <ion-toggle [(ngModel)]="toggles.option1" (ngModelChange)="setPreferences()">Option 1</ion-toggle>
      </ion-item>
      <ion-item>
        <ion-toggle [(ngModel)]="toggles.option2" (ngModelChange)="setPreferences()">Option 2</ion-toggle>
      </ion-item>
      <ion-item>
        <ion-toggle [(ngModel)]="toggles.option3" (ngModelChange)="setPreferences()">Option 3</ion-toggle>
      </ion-item>
    </ion-list>

    <div class="ion-margin-bottom">
      <label><strong>Range Value = {{ rangeValue }}</strong></label>
      <ion-range [(ngModel)]="rangeValue" (ngModelChange)="setPreferences()" [pin]="true" [min]="0" [max]="100" [step]="1"></ion-range>
    </div>

    <ion-list class="ion-margin-bottom">
      <ion-item>
        <ion-checkbox [(ngModel)]="checkboxes.checkbox1" (ngModelChange)="setPreferences()">Checkbox 1</ion-checkbox>
      </ion-item>
      <ion-item>
        <ion-checkbox [(ngModel)]="checkboxes.checkbox2" (ngModelChange)="setPreferences()">Checkbox 2</ion-checkbox>
      </ion-item>
      <ion-item>
        <ion-checkbox [(ngModel)]="checkboxes.checkbox3" (ngModelChange)="setPreferences()">Checkbox 3</ion-checkbox>
      </ion-item>
    </ion-list>

    <ion-list class="ion-margin-bottom">
      <ion-radio-group [(ngModel)]="selectedRadio" (ngModelChange)="setPreferences()">
        <ion-item>
          <ion-radio value="option1">Radio Option 1</ion-radio>
        </ion-item>
        <ion-item>
          <ion-radio value="option2">Radio Option 2</ion-radio>
        </ion-item>
      </ion-radio-group>
    </ion-list>

    <ion-button expand="block" (click)="resetAllSettings()">Reset all settings</ion-button>
  </ion-content>
</ion-app>
